@import url("./zero_styles.css");

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 5% 0 4% 0;
}
.main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
  align-items: flex-start;
}
.container {
  width: 1200px;
  display: flex;
  justify-content: end;
  color: rgb(255, 174, 75);
  gap: 30px;
}
.first_link,
.second_link,
.third_link {
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: rgb(132, 132, 132);
}
.main_information_left_box {
  width: 34%;
}
.main_information_left_box_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main_information_left_box_title h1 {
  font-size: 25px;
  line-height: 32px;
  font-weight: bold;
}
.line {
  margin-left: 3%;
  height: 2px;
  width: 80px;
  background-color: rgb(255, 174, 75);
}
.main_information_left_box_text p {
  margin-top: 8%;
  color: #fff;
  line-height: 28px;
}
.main_information_left_box_prop {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}
.main_information_left_box_prop h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.main_information_left_box_prop p {
  color: #fff;
}
.main_information_left_box_city {
  display: flex;
  flex-direction: column;
}
.main_information_left_box_city h2 {
  margin-bottom: 15%;
}
.main_information_left_box_city p {
  line-height: 24px;
}
.main_information_left_box_prop {
  height: 85px;
}
.main_information_left_box_apartment_area p {
  line-height: 24px;
}
.main_information_left_box_apartment_area h2 {
  margin-bottom: 10%;
}
.main_information_left_box_details {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}
.main_information_left_box_repair_time h2 {
  margin-bottom: 15%;
}
.main_information_left_box_repair_time p {
  color: #fff;
}
.main_information_left_box_repair_cost h2 {
  margin-bottom: 15%;
}
.main_information_left_box_repair_cost h2 {
  font-size: 20px;
  font-weight: bold;
}
.main_information_left_box_repair_cost p {
  color: #fff;
}
.main_information_left_box_repair_time h2 {
  font-size: 20px;
  font-weight: bold;
}
.main_navigation_box {
  margin-top: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.main_navigation_status_dots {
  display: flex;
  gap: 15px;
}
.main_images_box {
  width: 820px;
}
.slider {
  width: 780px;
  overflow: hidden;
}
.slider_line {
  width: 2460px;
  display: flex;
  position: relative;
}
.slider_line img {
  width: 780px;
  height: 490px;
}
.image_box {
  display: flex;
  position: relative;
}

.arrow_left {
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 2px;
  background-color: #fff;
}
.arrow_left::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  top: 2px;
  right: 52px;
  background-color: #f0f0f0;
  transform: rotate(192deg);
}
.arrow_left::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  top: -2px;
  right: 52px;
  background-color: #f0f0f0;
  transform: rotate(168deg);
}
.arrow_right {
  position: relative;
  cursor: pointer;
  width: 70px;
  height: 2px;
  background-color: #fff;
}
.arrow_right::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  top: -2px;
  right: 1px;
  background-color: #f0f0f0;
  transform: rotate(192deg);
}
.arrow_right::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  top: 2px;
  right: 1px;
  background-color: #f0f0f0;
  transform: rotate(169deg);
}
.first_dot,
.second_dot,
.third_dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #939393;
  border-radius: 50%;
}
.active_link {
  color: rgb(255, 174, 75);
  text-decoration: underline;
}
.active_dot {
  background-color: #fff;
}
